.main-content-block__pokemon-list-block {
    display: flex;
    width: 95%;
    margin: 100px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 15px;
    flex: 1 1 auto;
}

.pokemon-card {
    position: relative;
    width: 30%;
    height: 50%;
    text-align: center;
    margin: 10px 0 75px;
    border-radius: 5px;
    padding: 75px 15px 55px;
}

.pokemon-card__name {
    border-top: 2px solid white;
    margin-top: 10px;
    padding: 10px 0 5px;
}

.pokemon-card__img {
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.pokemon-card__types-block {
    position: absolute;
    bottom: 10px;
    align-items: center;
    right: 15px;
    display: flex;
    justify-content: flex-end;
}

.pokemon-card__types {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 15px;
    padding: 0;
    padding-right: 10px;
    cursor: pointer;
}

.pokemon-card__types-img {
    width: 25px;
    margin-right: 5px;
}

.pokemon-card__types-name {
    font-size: 13px;
    color: white;
}

.pokemon-card__favorite {
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    outline: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url("../svg/favorite-svgrepo-com.svg") no-repeat;
}

.pokemon-card__favorite.active {
    background: url("../svg/unfavorite-svgrepo-com.svg") no-repeat;
}

.main-content-block {
    min-height: 80vh;
}

.main-content-block__inner {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.pagination-block__button-img{
    width: 15px;
    height: 12px;
}

@media(min-width: 1400px){
    .pokemon-card{
       width: 22%;
    }
}

@media(max-width: 980px){
    .pokemon-card__types-block{
        right: 3px;
    }
    .pokemon-card__types-name{
        font-size: 10px;
    }
    .pokemon-card__types{
        margin-left: 5px;
    }
}

@media(max-width: 768px){
    .main-content-block__inputs{
        margin-top: 10px;
    }
    .main-content-block__pokemon-list-block{
        margin: 100px 0 0;
        justify-content: space-between;
        width: 100%;
        column-gap: 0;
    }
}

@media(max-width: 550px){
    .pokemon-card{
        width: 49%;
    }
}

@media(max-width: 400px){
    .main-content-block__search-input{
        width: 45%;
        margin-bottom: 10px;
    }
    .main-content-block__pagination-input{
        width: 35%;
        margin-bottom: 10px;
    }
}

@media(max-width: 360px){
    .pokemon-card{
        width: 100%;
        padding-top: 85px;
    }
}